$kuning: #fcca67;
$biru: #005296;
$hijau: #6ebf52;
$birumuda: #0695b4;
.bg {
    &-yellow {
        background: $kuning;
    }
    &-blue {
        background: $biru;
    }
    &-green {
        background: $hijau;
    }
    &-birumuda {
        background: $birumuda;
    }
}