@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Unbounded:wght@600&display=swap');
@import 'color';
main,
body {
    font-family: 'Quicksand', sans-serif;
}

h2,
h3 {
    font-weight: 700;
}

section {
    padding: 32px 0;
}

.puasa {
    h3 {
        font-size: 2.7rem;
        @media screen and (max-width:766px) {
            font-size: 1.4rem;
        }
        &.smals {
            font-size: 1.9rem;
            @media screen and (max-width:766px) {
                font-size: 1rem;
            }
        }
    }

    .block-blue {
        background: #145f99;
        color: white;
        box-shadow: 2px 2px 3px black;
        width: fit-content;
        padding: 16px 16px 16px 52px;
        margin: 0 auto 24px;
        transform: skew(0deg, -2deg);
        position: relative;
        .left {
            position: absolute;
            left: -32px;
            top: -32px;
            width: 80px;
            height: auto;
            transform: skew(0deg, 2deg);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h3 {
            transform: skew(0deg, 2deg);
            font-family: 'Unbounded';
        }
    }
    ol {
        list-style: none;
        counter-reset: item;
        margin-top: 24px;
        @media screen and (max-width: 766px) {
            padding: 0;
        }
        li {
            &::before {
                margin-right: 10px;
                content: counter(item);
                background: white;
                border-radius: 100%;
                color: #1f6195;
                width: 40px;
                text-align: center;
                display: inline-block;
                height: 40px;
                padding: 0px;
                font-size: 1.8rem;
                // position: absolute;
                // left: 32px;
                // top: 0px;
                font-weight: 700;
                position: absolute;
                left: -25px;
                top: -8px;
                @media screen and (max-width: 766px) {
                    left: -16px;
                    top: -20px;
                }
            }
            position: relative;
            counter-increment: item;
            margin-bottom: 16px;
            padding: 8px 16px;
            @media screen and (max-width:766px) {
                padding: 8px 20px;
            }
            .jam {
                @media screen and (max-width:766px) {
                    font-size: 1.2rem !important;
                }
            }
            &:nth-child(odd) {
                background: #145f99;
                .jam {
                    color: #e8b740;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }
            &:nth-child(even) {
                background: #fcb23d;
                .side-left {
                    color: black;
                }
                .jam {
                    color: #145f99;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .block {
        display: block;
        position: relative;
        .side {
            &-left {
                display: inline-block;
                width: 70%;
                font-weight: 600;
                color: white;
                @media screen and (max-width: 766px) {
                    width: 50%;
                }
                .country {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    margin-bottom: 8px;
                    @media screen and (max-width:766px) {
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                }
                h4 {
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: 1.2rem;
                    @media screen and (max-width:766px) {
                        font-size: 1rem;
                    }
                }
            }
            &-right {
                // display: inline-block;
                // width: 45%;
                position: absolute;
                right: 0;
                top: -16px;
                width: 200px;
                transform: rotate(-3deg);
                height: 100px;
                @media screen and (max-width: 766px) {
                    width: 100px;
                    right: -16px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}